.filterOptionColors {
  display: block;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 16px;
    text-transform: uppercase;
  }

  &__btn {
    display: block;
    width: 20px;
    height: 20px;
    background: url('widgets/assets/icons/dropdown-arrow-black.png') no-repeat center;
    transform: rotate(180deg);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    color: var(--text-medium-color);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__color {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #DCDCDC;
    margin-left: 5px;
  }

  &__checkbox {
    position: relative;
    appearance: none;
    background-color: var(--main-bg-light-color);
    border: 1px solid var(--main-border-medium-color);
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:checked {
      background-color: var(--main-text-dark-color);

      &::before {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background-image: url('widgets/assets/icons/check.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
      }
    }
  }
}

.scroll {
  max-height: 200px;
  overflow-y: scroll;
  padding-right: 3px;

  .filterOptionColors__list {
    padding-right: 5px;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #EAEAEA;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background: #6C7275;
    border-radius: 10px;
  }
}


.openFilter {
  .filterOptionColors__list {
    margin-bottom: 32px;
  }

  .filterOptionColors__btn {
    transform: rotate(0deg);
  }
}