:root {
  --main-font-family: 'Poppins', sans-serif;
  --secondary-font-family: 'Inter', sans-serif;

  /* COLLORS */
  --main-bg-dark-color: #141718;
  --main-border-medium-color: #c2c2c2;
  --main-hovered-dark-color: #242c2e;
  --main-bg-light-color: #FFFFFF;
  --main-bg-medium-color: #F3F5F7;
  --main-text-dark-color: #141718;
  --main-text-light-color: #FEFEFE;
  --text-medium-color: #6C7275;
  --accent-bg-color: #38CB89;
  --accent-bg-hover-color: #3cf5a2;
}