.footer {
  padding-top: 60px;
  background-color: var(--main-bg-dark-color);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 80px;
    padding-bottom: 30px;
  }
}