.breadcrumbs {
  font-size: 14px;
  color: var(--text-medium-color);

  &__list {
    display: flex;
    gap: 5px;
  }

  &__item {
    display: flex;
    gap: 5px;
  }

  &__divider {
    display: block;
  }

  &__current {
    color: var(--main-text-dark-color);
  }
}