@use 'app/styles/mixins/breakpoint.scss' as b;

.productPage {
  &__breadcrumbs {
    color: var(--main-text-dark-color);
  }

  &__product {
    display: flex;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

    @include b.tablet {
      flex-direction: column;
    }
  }
}