.productCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #eeeeee;
  border-radius: 8px;

  &__btn {
    width: 40px;
    height: 40px;

    &.disabled {
      cursor: not-allowed;
    }
  }
}