@use 'app/styles/mixins/breakpoint.scss' as b;

.goods {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  transition: all 0.4s ease-in-out;

  @include b.tablet {
    gap: 10px;
  }

  &__showMore {
    margin: auto;
    width: 180px;
    height: 50px;
    background-color: var(--main-bg-dark-color);
    color: var(--main-text-light-color);
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: var(--main-hovered-dark-color);
    }
  }
}