.productPrice {
  display: flex;
  align-items: center;
  gap: 12px;

  &__prices {
    display: flex;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  &__currentPrice {
    font-size: 28px;
    font-weight: 600;
  }

  &__oldPrice {
    font-size: 20px;
    color: var(--text-medium-color);
    text-decoration: line-through;
    font-weight: 400;
  }
}