/* SCREEN SIZES */
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 425px;
$mobile-s: 380px;
/* SCREEN PADDING SIZES */
$desktop-padding: 80px;
$tablet-padding: 20px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}


@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}