.close {
  display: flex;
  align-items: center;
  background-color: var(--main-bg-light-color);
  position: relative;
  width: 20px;
  height: 20px;

  &__line {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: var(--main-border-medium-color);

    &:nth-child(1) {
      transform: rotate(-45deg);
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }
  }
}